html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.titel_box {
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-weight: 700;
  color: #1d1617;
  margin-bottom: 67px;
  margin-top: 41px;
}

.container {
  display: flex;
  width: 375px;
  height: 812px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.health_list {
  padding-left: 27px;
  padding-right: 27px;
  display: flex;
  flex-direction: column;
}
.health_imgbox {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 65px;
}
.health_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14.92px;
  font-size: 16px;
  font-weight: 700;
  color: #1d1617;
}
.health_img_before {
  display: flex;
  width: 144px;
  height: 172.08px;
  border-radius: 20px;
  background-color: #92a3fd;
  opacity: 0.2;
  justify-content: center;
  align-items: center;
}
.health_img_before.active {
  background-color: #fff;
  opacity: 1;
}
.health_img_before img {
  max-width: 100%;
}
.health_img_after {
  display: flex;
  width: 144px;
  height: 172.08px;
  border-radius: 20px;
  background-color: #ed6366;
  opacity: 0.2;
  justify-content: center;
  align-items: center;
}
.health_img_after img {
  max-width: 100%;
}
.health_img_after.active {
  background-color: #fff;
  opacity: 1;
}
.img_input {
  display: none;
}

.countInterval {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  color: #1d1617;

  margin-bottom: 61px;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 21px;
  gap: 34px;
}
.counter_button_up,
.counter_button_down {
  border: none;
  width: 32px;
  height: 32px;
  background-color: #f7f8f8;
  border-radius: 8px;
  color: #1d1617;
}
.progressive_phrase_box {
  font-weight: 700;
  font-size: 16px;
  color: #1d1617;
}
.progressive_phrase {
  width: 300px;
  height: 102px;
  resize: none;
  padding: 12px;
  background-color: #f7f7f7;
  color: #7b6f72;
  font-weight: 400;
  font-size: 12px;
  margin-top: 19px;
  border-radius: 8px;
}
.button_box {
  display: flex;
  gap: 32px;
}

.cancel_button,
.accept_button {
  width: 144px;
  height: 44px;
  border-radius: 1000px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.cancel_button {
  background-color: #bcbcbc;
}
.accept_button {
  background-color: #cd3700;
}
